body{
    background-color: #04061d;

}
.jumbotron{
    text-align: center;
    background-color: #04061d;
    color: white;
}
#netflixImposter:hover{
    opacity: .6;
}
#snowman:hover{
    opacity: .6;
}
#starWarsAPI:hover{
    opacity: .6;
}
.portfolio{
    text-align: center;
    color: white;
}
.aboutMe{
    align-content: center;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}
.btn{
    background-color: orangered;
    border: 1px solid orangered;
}
.btn:hover{
    border: 1px solid orangered;
    background-color: orangered;
    opacity: .6;
}
#elevenFiftyLink{
    text-decoration: none;
    color: red;
}