#footer{
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    background-color: white;
}
.contactForm{
    background: #000099;
    text-align: center;
}
#contactTitle{
    color: #ffffff;
}
textarea{
    height: 100px;
    width: 300px;
}
#full-name{
    width: 300px;
    border-radius: 2px;
    margin-bottom: 4px;
    text-align: center;
}
#email-address{
    width: 300px;
    border-radius: 2px;
    margin-bottom: 4px;
    text-align: center;
}
#message{
    border-radius: 2px;
    text-align: center;

}
#submitButton{
    background-color: orangered;
    color: white;
}
h6{
    text-align: center;
}
.resume{
    text-align: center;
}
#resumeThumb:hover{
    opacity: .7;
}
#professionalProfilesLabel{
    text-decoration: underline;
}
.professional-references{
    text-align: center;
}
#linkedIn:hover{
    opacity: .7;
}
#gitHub:hover{
    opacity: .7;
}
#submitButton{
    outline: none;
    border: none;
}