#footer{
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    background-color: rgb(49, 49, 49);
}
.contactForm{
    text-align: center;
}
#contactTitle{
    color: #ffffff;
    text-decoration: underline;
}
textarea{
    height: 100px;
    width: 300px;
}
#full-name{
    width: 300px;
    border-radius: 2px;
    margin-bottom: 4px;
    text-align: center;
    border: 0;
}
#email-address{
    width: 300px;
    border-radius: 2px;
    margin-bottom: 4px;
    text-align: center;
    border: 0;
}
#message{
    border-radius: 2px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}
#submitButton{
    background-color: orangered;
    color: white;
}
h6{
    text-align: center;
}
.resume{
    text-align: center;
    color: white;
    text-decoration: underline;
}
#resumeThumb:hover{
    opacity: .7;
}
#professionalProfilesLabel{
    text-decoration: underline;
    color: white;
}
.professional-references{
    text-align: center;
    color: white;
}
#linkedIn:hover{
    opacity: .7;
}
#gitHub:hover{
    opacity: .7;
}
#submitButton{
    outline: none;
    border: 0;
    margin-top: 0;
    width: 300px;
    padding-top: 0;
}
#submitButton:hover{
    opacity: .7;
}
#codePen:hover{
    opacity: .7;
}